.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
    max-width: 400px;
    position: relative;
}

.sign_up{
    display: flex;
    flex-direction: column;
    inline-size: 100%;
}

.top{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding-bottom: 16px;
}

.back_link{
    width: 24px;
    height: 24px;
    display: block;
    background: url('/public/back.svg');
}

.page_name{
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--main-color);
    white-space: nowrap;
}

.sign_up h1{
    font-weight: 300;
    font-size: 33px;
    line-height: 127%;
    letter-spacing: 0.01em;
    color: var(--main-color);
    padding-bottom: 10px;
}
.sign_up p{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: var(--body-text);
    max-width: 275px;
}
.alredy_have_acc{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: var(--active-color---1);
}

.sign_up_form{
    display: grid;
    grid-template-columns: 1fr;
    padding: 24px 0 20px 0;
    gap: 18px;
}
.sign_up_form label{
    display: grid;
    align-items: center;
    grid-template:
    'inp_name inp_name'
    'input    val_ic' / 
    1fr auto;
    font-weight: 300;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: var(--body-text);
    border-bottom: 1px solid #F3F2F2;
}
.sign_up_form span{
    grid-area: inp_name;
}

.sign_up_form input{
    padding: 9px 0;
    grid-area: input;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: var(--main-color);
}

.validity_icon{
    grid-area: val_ic;
}
  
input:valid + .validity_icon::before {
    content: '✓';
    color: var(--active-color---1);
    font-size: 23px;
}

.submit_btn{
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--bg-color);
    border-radius: 8px;
    background: var(--active-color---1);
    padding: 15px 0;
    margin: 24px 0 20px 0;
}

.new_acc_container{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template:
        'h_a_q'
        't_f_a' 
        'fbook'
        'goo' / 1fr;
}

.have_acc_question{
    grid-area: h_a_q;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--body-text);
}

.text_for_alt{
    grid-area: t_f_a;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--main-color);
    opacity: 0.64;
    padding: 20px 0 24px 0;
}
.facebook, .google{
    grid-area: goo;
    font-weight: 600;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    text-align: center;
    color: var(--bg-color);
    border-radius: 8px;
    padding: 12px 0;
}

.facebook{
    grid-area: fbook;
    background-color: ;
    margin-bottom: 16px;
    background: #395998 url('/public/facebook.svg') 10px center no-repeat;
}

.google{
    grid-area: goo;
    background: #4285F4 url('/public/google.svg') 10px center no-repeat;
}